# Terraform-related files
.terraform/
*.tfstate
*.tfstate.backup
tfplan
*.tfplan
*.backup
terraform-provider-*

# kubernetes-related files
kubeconfig.yaml

# Sensitive files
var.sh
*.log

# lock files
.terraform.lock.hcl